body {
    background-color: #dddddd;
}
.border {
    border-style: dotted 1px #888888;
}
.card {
    width: 960px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin: 0 auto;
    margin-top: 15px;
    ;
}